<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> {% block title %} Lockee {% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'portal/normalize.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body align="center">
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <!-- NavBar Declaration -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Nav Bar Items -->
                <div class="collapse navbar-collapse" id="topNavBar">
                    <!-- Left-sided navbar items -->
                    <ul class="nav navbar-nav">
                        {% if user.is_authenticated %}
                        <!-- Logged-in user's locks -->
                        <li class="">
                            <a href="{% url 'portal:home' %}">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- Right-sided navbar items -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Contact us -->
			
						<!-- About us ^_^ -->
                        <li>
                            <a href="{% url 'portal:about' %}">
                                <span aria-hidden="true"></span>&nbsp; About
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <!-- User Logout -->
                        <li class="#">
                            <a href="{% url 'portal:logout' %}">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Log Out
                            </a>
                        </li>
                        {% else %}
                        <li class="#">
                            <a href="{% url 'portal:welcome' %}">
                                <span class="glyphicon glyphicon-keys" aria-hidden='true'></span>&nbsp; Log In 
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %} {% endblock %}
    </body>
</html>