<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
        <title> {% block title %} Lockee {% endblock %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{% static 'portal/normalize.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'portal/style.css' %}"/>
        <link href="https://a.slack-edge.com/1d9c/style/libs/lato-1-compressed.css" rel="stylesheet" type="text/css" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid" id="navfluid">
                <!-- NavBar Declaration -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Nav Bar Items -->
                <div class="collapse navbar-collapse" id="navigationbar">
                    <ul class="nav navbar-logo">
                        <li>
                            Lockee
                        </li>
                    </ul>
                    <!-- Left-sided navbar items -->
                    <ul class="nav navbar-nav">
                        <li class="">
                            <a href="{% url 'portal:welcome' %}">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home
                            </a>
                        </li>
                    </ul>
                    <!-- Right-sided navbar items -->
                    <ul class="nav navbar-nav navbar-right">
                        
						<!-- About us ^_^ -->
                        <li>
                            <a href="{% url 'portal:about' %}">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp; About
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <!-- User Logout -->
                        <li class="#">
                            <a href="{% url 'portal:logout' %}">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp; Log Out
                            </a>
                        </li>
                        {% else %}
                        <li class="#">
                            <a href="{% url 'portal:welcome' %}">
                                <span class="glyphicon glyphicon-log-in" aria-hidden='true'></span>&nbsp; Log In 
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %} 
        {% endblock %}
    </body>
</html>