{% extends 'portal/base.html' %}
{% block title %}Login{% endblock %}

{% block body %}

    <!-- Display error in case there is one -->
    {% if '{{error}}' %}
        <div class="col-sm-offset-2 col-sn-10">
            <p> {{error}} </p>
            <br>
        </div>
    {% endif %}

    <!-- Login Form -->
    <form class="loginform cf" action="{% url 'portal:login' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
		<ul>
			<li>
				<label for="usermail">Email</label>
				<input type="email" name="usermail" placeholder="youremail@example.com"  required>
			</li>
			<li>
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Password" required>
			</li>
		 	<li>
				<input type="submit" class="btn btn-success" value="Login">
			</li>
		</ul>
    </form>
    
    <!--&nbsp;-->
    
    <!-- Register Form -->
	<form class="registerform cf" action="{% url 'portal:register' %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<ul>
            <li>
                <label for="name">Full name</label>
                <input type="fullname" name="name" placeholder="Full name" required>
   	        </li>
			<li>
				<label for="usermail">Email</label>
				<input type="email" name="usermail" placeholder="youremail@example.com"  required>
			</li>
			<li>
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Password" required>
			</li>
			<li>
				<input type="submit" value="Register">
			</li>
		</ul>
	</form>

{% endblock %}